---
title: More News
layout: base.njk
---


<div class="container">
    <h1>News From Countries Across The World </h1>
    <p1> Countries Represented By The 2-letter ISO 3166-1 code </p>
</div>

{% for item in news %}
    <a href = "/{{ item.country }}">{{ item.country }}</a>
{% endfor %}